<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <style>
body  {
  background-image: url("./images/flower.png");
  background-color: #ea7b7b;
}
</style>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2023 PlantPals<br><b> &#127800;Tisha Anderson&#127800; Alex Ortiz&#127800; Preston Whitlock&#127800; Shan Nowak&#127800;</b></p>
    </footer>
</body>
</html>





{{!-- {{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlantPals</title>
</head>



<body>
  <header>

   <img class="background-pic" id="background-pic" src="../public/images/bkgrnd2.jpg" alt="dandelions">

   

  {{{body}}}

  </header>
</body>
</html> --}}

{{!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  
{{{body}}}

</body>
</html>