{{!-- <ul>
  {{#each plants as |plant|}}
      <h2>{{plant_name}}</h2>
      {{#if image_url}}
        <img src="{{image_url}}" alt="{{plant_name}}" />
      {{/if}}
      <p>Description: {{description}}</p>
      <p>Sunlight Requirements: {{sunlight_requirements}}</p>
      <p>Watering Needs: {{watering_needs}}</p>
      <p>Category: {{category}}</p>
  {{/each}}
</ul> --}}