{{#each plants as |plant|}}
<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2>{{plant.plant_name}}</h2>
        {{#if image_url}}
        <img src="{{plant.image_url}}" alt="{{plant.plant_name}}" />
        {{/if}}
    </div>
    <div class="col-md-6">
        <p>Description: {{plant.description}}</p>
        <p>Sunlight Requirements: {{plant.sunlight_requirements}}</p>
        <p>Watering Needs: {{plant.watering_needs}}</p>
        <p>Category: {{plant.category}}</p>
    </div>
</div>
{{/each}}