  <link rel="stylesheet" href="./css/homepage.css ">

<div class="row">
  {{#each plants as |plant|}}
    <div class="col-md-6 col-sm-12">
      <div class="plant-container" >
        <h3 class="plant-title" style="text-align: center;">{{plant.plant_name}}</h3>
        <a href="/plant/{{plant.id}}" style="display: flex; align-items: center; justify-content: center;" >
          <img src="{{plant.image_url}}" class="img-fluid plant-image" alt="{{plant.plant_name}}"/>
        </a>
      </div>
    </div>
  {{/each}}
</div>



{{!-- <div class="row">
  {{#each plants as |plant|}}
    <div class="col-md-6 col-sm-12">
      <div class="card mb-3" style="background-color: transparent; border: none;">
        <div class="row g-0">
          <div class="col-md-4">
            <h5 class="card-title" style="text-align: center;">{{plant.plant_name}}</h5>
            <a href="/plant/{{plant.id}}"> <!-- Dynamic link to the description page -->
              <img src="{{plant.image_url}}" class="img-fluid rounded-start" alt="{{plant.plant_name}}" />
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
          </div>
        </div>
      </div>
    </div>

  </div>

  {{/each}}
</div> --}}