<link rel="stylesheet" href="/css/individual-plant.css">
<link rel="stylesheet" href="/css/profile.css">


<h3 class="individual-plant">More about {{plant.plant_name}}::</h3>

<div class="image-container">
    <img class="individual-plant-pic" src="{{plant.image_url}}"  alt="{{plant.plant_name}}" />   
</div>

<div class="text-background">
    <p class="card-text"> <b>Description:</b>  {{plant.description}}</p>   
</div>

<div class="text-background">
    <p class="card-text"> <b>Sunlight Requirements:</b>  {{plant.sunlight_requirements}}</p>
</div>

<div class="text-background">
    <p class="card-text"> <b>Watering Needs:</b>  {{plant.watering_needs}}</p>
</div class="text-background">

<div class="text-background">
    <p class="card-text"> <b>Category:</b> {{plant.category}}</p>
</div>